<h2>Users</h2>
{{#if users}}
  <ul>
  {{#each users}}
    <li>Name: {{ name }}</li>
  {{/each}}
  </ul>
{{else}}
  <p>no users found</p>
{{/if}}

<h3>Create User</h3>
<form id="create-user">
  <input type="text" name="name" required>
  <button type="submit">Create</button>
</form>

<br><hr>

<h2>Roles</h2>
{{#if roles}}
  <ul>
  {{#each roles}}
    <li>Name: {{ name }}</li>
  {{/each}}
  </ul>
{{else}}
  <p>no roles found</p>
{{/if}}

<h3>Create Role</h3>
<form id="create-role">
  <label for="name">Role Name</label>
  <input type="text" name="name" required>
  <button type="submit">Create</button>
</form>

<br><hr>

<h2>Pets</h2>
{{#if pets}}
  <ul>
  {{#each pets}}
    <li>Name: {{ name }}</li>
  {{/each}}
  </ul>
{{else}}
  <p>no pets found</p>
{{/if}}

<h3>Create Pet</h3>
{{#if users}} {{#if roles}}
  <form id="create-pet">
    <label for="name">Pet Name</label>
    <input type="text" name="name" required>
    <label for="user">User</label>
    <select name="user">
      {{#each users}}
        <option value="{{id}}">{{ name }}</option>
      {{/each}}
    </select>
    <select name="role">
      {{#each roles}}
        <option value="{{id}}">{{ name }}</option>
      {{/each}}
    </select>
    <button type="submit">Create</button>
  </form>
{{else}}
  <p>You must create a role before creating a pet</p>
{{/if}} {{else}}
  <p>You must create a user before creating a pet</p>
{{/if}}