<h2>Users</h2>
{{#if users}}
  {{#each users}}
    <h4>{{ name }}</h4>
    {{#if pets}}
      <ul>
        {{#each pets}}
          <li><b>{{user_pet.role}}</b>: {{ name }}</li>
        {{/each}}
      </ul>
    {{/if}}
  {{/each}}
{{else}}
  <p>no users found</p>
{{/if}}

<h3>Create User</h3>
<form id="create-user">
  <input type="text" name="name" required>
  <button type="submit">Create</button>
</form>

<br><hr>

<h2>Pets</h2>
{{#if pets}}
  {{#each pets}}
    <h4>{{ name }}</h4>
    {{#if users}}
      <ul>
        {{#each users}}
          <li><b>{{user_pet.role}}</b>: {{ name }}</li>
        {{/each}}
      </ul>
    {{/if}}
  {{/each}}
{{else}}
  <p>no pets found</p>
{{/if}}

<h3>Create Pet</h3>
{{#if users}}
  <form id="create-pet">
    <label for="name">Pet Name</label>
    <input type="text" name="name" required>
    <label for="user">User</label>
    <select name="user">
      {{#each users}}
        <option value="{{id}}">{{ name }}</option>
      {{/each}}
    </select>
    <select name="role">
      <option value="Owner">Owner</option>
      <option value="Vet">Vet</option>
      <option value="Sitter">Sitter</option>
    </select>
    <button type="submit">Create</button>
  </form>
{{else}}
  <p>You must create a user before creating a pet</p>
{{/if}}

<br><hr>

{{#if users}}{{#if pets}}
<h2>Update Existing</h2>
<form id="update-user-pet">
  <label for="name">Pet</label>
  <select name="pet">
    {{#each pets}}
      <option value="{{id}}">{{ name }}</option>
    {{/each}}
  </select>
  <label for="user">User</label>
  <select name="user">
    {{#each users}}
      <option value="{{id}}">{{ name }}</option>
    {{/each}}
  </select>
  <select name="role">
    <option value="Owner">Owner</option>
    <option value="Vet">Vet</option>
    <option value="Sitter">Sitter</option>
  </select>
  <button type="submit">Update</button>
</form>
{{/if}}{{/if}}